/* 
    Document   : base
    Created on : Aug 30, 2012, 10:18:24 PM
    Author     : Neil
    Description:
        Purpose of the stylesheet follows.
*/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900);

html, body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: "Source Sans Pro", Trebuchet, Helvetica, Arial, Verdana, sans-serif;
}